:root {
    --main-font: 'Roboto', sans-serif;

    --main-font-color: #343434;
    --main-bg-color: #f6f6f6;
    --tile-bg-color: #fff;
    --color-red: #ff4500;
    --color-green: #31c831;

    --space-s: 4px;
    --space-m: 8px;
    --tile-border-radius: 15px;
    --tile-image-size: 32px;

    --h3-font-size: 1.15rem;
    --h4-font-size: 1rem;
    --h5-font-size: 0.85rem;
}